{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":17,"column":0},"end":{"row":18,"column":0},"action":"insert","lines":["Cheetah==2.4.4",""],"id":2},{"start":{"row":55,"column":4},"end":{"row":56,"column":4},"action":"insert","lines":["down==3.1.1","Mark"]},{"start":{"row":59,"column":0},"end":{"row":60,"column":0},"action":"insert","lines":["oauth==1.0.1",""]},{"start":{"row":67,"column":0},"end":{"row":68,"column":0},"action":"insert","lines":["prettytable==0.7.2",""]},{"start":{"row":76,"column":24},"end":{"row":77,"column":13},"action":"insert","lines":["","pyserial==3.4"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567719230854,"hash":"1f0589a030bfb43e6cd0f7316dab1bd42a800c08"}