                                   /* GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Overlock:400,700,900|Londrina+Solid:100,300,400,900');


                                  /* HTML BODY */
body {
    margin:0;
    display: flex;
    flex-direction: column;
    
    background: url(https://img.freepik.com/free-photo/border-from-ingredients-cooking_23-2147749525.jpg?size=626&ext=jpg) no-repeat  fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


                            /* BACKGROUND IMAGE OPACITY */


.overlay {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.75;
    z-index: -1;
}



                            /* NAVBAR, NAV-BRAND AND LOGO */
                        
nav {
    border-radius: 5px 5px 5px 5px;
}


nav .brand-logo {
    
    color: white;
    font-family: Overlock, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    
}

nav ul a {
    font-family: Overlock, sans-serif;
    font-size:15px;
    font-weight: 400;
}



                                    /* SELECT/FILTER  */


.select-wrapper {
    color: #F8F4F1;
}

.select-wrapper span.caret {
    color:silver;
}

.filter {
    width: 100%;
    height:120px;
}

.filter .select-wrapper {
    margin-right: 20px;
}

.filter-btn {
    padding: 10px;
}


                                    /* HEADER STYLING */


h2,h1,h3  {
    color: red;
    text-transform: uppercase; 
    text-align: center;
    font-family: Overlock;
    font-weight: 600;

}

.main-container {
    min-height: 100vh;
    flex: 1 0 auto;
}


                                /* CARD & CARD-IMAGE STYLING */



.card-fitting{
    max-width: 100%;
}

.main-images {
    max-height: 230px;
}


.card .card-image .card-title {
    color: #f9f9f9;
    font-family: Londrina+Solid, sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-shadow: 3px 3px #544053;
}


                                /* BUTTON STYLING */
                                
                                

.btn {
    color: white;
    display:inline;
    position: relative;
    left: 10%;
}


.btn-large{
    padding: 0px 10px 0px 10px;
    background-color: #9a2c0b;
    margin-bottom: 10px;
    -moz-border-radius: 5px 10px 5px 10px;
    -webkit-border-radius: 5px 10px 5px 10px;
    -o-border-radius: 5px 10px 5px 10px;
    border-radius:5px 10px 5px 10px;
}




                                        /* ICON & INPUT*/
                                        

.material-icons {
    color: white;
}


input {
    color: white;
}


                                     /* VIEW SECT & LIST STYLING*/


ul , ol {
    color: white;
    font-family: Overlock, sans-serif;
    font-size: large;
    font-weight: 500;
}



.recipe-name, 
.country-name,
.allergen-type,
.ingredient-list,
.method-list {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: red;
}

.recipe-name span, 
.country-name span,
.allergen-type span,
.ingredient-list span,
.method-list span{
    text-transform: capitalize;
    color: #fafafa;
    
}



                                         /* TEXTAREA COLOR*/
                                         

.materialize-textarea, .validate {
    color: white;
}




                                     /* FILE ATTACHMENT STYLING */


#imageName {
    color: white;
    padding: 0px 0px 20px 10px;
}

.file-align {
    padding-left: 44px;
}

                     
                                
                                          /* FOOTER */
                                          

                                          
.page-footer {
    
    padding-bottom: 1px;
    padding-left: 0px;
    border-radius: 5px 5px 5px 5px;
    font-family: Overlock, sans-serif;
    font-size: 15px;
    font-weight: 500;
}



                                         /* MEDIA QUERIES*/

@media screen and (max-width: 500px) {
    .main-images {
        min-height: 250px;
    }
    
}



@media screen and (max-width: 768px) {
    .image-align{
        padding-left: 41px;
    }
    
    .main-images {
        width: 100%;
        height:150px;
    }
    
}

@media screen and (max-width: 992px) {
    
    .main-images {
        min-height: 250px;
    }
    
    #imageName {
    color: white;
}
}



@media screen and (max-width: 1300px) {

    .main-images {
        width: 100%;
        height: 150px;
    }

}
    