{% extends 'index.html'%} {% block content %}

<h3>Add Recipe</h3>
<div class="row">
    <form novalidate action="" method="POST" enctype="multipart/form-data" class="col s12">
        {{form.hidden_tag()}}

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant_menu</i> {{ form.cuisine }}
            </div>
            {% for error in form.cuisine.errors %}
            <span style="color: red"> {{ error }}</span> {% endfor %}
        </div>
       
            <div id="imageName" class="input-field col s12">
                <i class="material-icons prefix"> attachment </i><span> {{ form.file(type="file", class="image-align") }} </span>
            </div>

            <div class="input-field col s12">

                <i class="material-icons prefix">restaurant</i> {{ form.recipe.label }} {{ form.recipe(class='validate')}} {% for error in form.recipe.errors %}
                <span style="color: red"> {{ error }}</span> {% endfor %}

            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix"> whatshot</i> {{ form.allergens.label }} {{ form.allergens(class='validate')}} {% for error in form.allergens.errors %}
                <span style="color: red"> {{ error }}</span> {% endfor %}
            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix">room_service</i> {{ form.ingredients.label }} {{ form.ingredients(class='materialize-textarea', placeholder="Use semicolon to separate steps")}} {% for error in form.ingredients.errors %}
                <span style="color: red"> {{ error }}</span> {% endfor %}
            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix">menu</i> {{ form.methods.label }} {{ form.methods(class='materialize-textarea', placeholder="Use semicolon to separate steps") }} {% for error in form.methods.errors %}
                <span style="color: red"> {{ error }}</span> {% endfor %}
            </div>
        

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">public</i> {{ form.country }}
            </div>
                {% for error in form.country.errors %}
                <span style="color: red"> {{ error }}</span> {% endfor %}
        </div>     
            
           
             <button class="btn-large waves-effect waves-light" type="submit" name="action">Add Recipe
                <i class="material-icons right">add</i>
             </button>
             
    </form>
</div>

{% endblock %}
