{% extends 'index.html'%} {% block content %} 

                                 {# VIEW RECIPE SECT #}

<h2>View Recipe</h2>

<ul>

    {% for recipe in recipes %}


    <li class="recipe-name"> Recipe: <span>{{recipe.recipe}}</span> </li>
    <li class="country-name"> Country of origin: <span>{{recipe.country}}</span></li>
    <li class="allergen-type"> Allergens: <span>{{recipe.allergens}}</span></li>


    <li class="ingredient-list">
        Ingredients:
        <ol>
            {% for ingredient in recipe.ingredients %}
            <li><span> {{ingredient}} </span></li>
            {% endfor %}
        </ol>
    </li>
    <li class="method-list">
        Methods:
        <ol>
            {% for method in recipe.methods %}
            <li><span> {{method}} </span></li>
            {% endfor %}
        </ol>
    </li>



    {% endfor %}
</ul>
  


{% endblock %}